@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;0,700;1,500;1,600;1,700&display=swap");

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto Mono";
    background-color: bisque;
}

div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:xx-large;
}