*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav_div{
    line-height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: rgb(217, 0, 255);
    font-size: larger;
    padding:1rem;
    background-color: rgb(12, 53, 53);
}

a{
    text-decoration: none;
    color: rgb(229, 218, 240);
}

.data_div{
    padding: 3rem;
    color: rgb(53, 56, 59);
    font-size: xx-large;
}
ul{
    list-style-type: none;
}

.nav_div .active_class {
    color: rgb(0, 250, 0);
}