*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(99, 228, 66);
}

.main_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    font-size: larger;
    padding:1rem;
}

.nav_div > div {
    margin: 10px;
}

.data_div{
    padding-top: 8rem;
    color: aliceblue;
    font-size: xx-large;
}
ul{
    list-style-type: none;
}

.nav_div .active_class {
    color: whitesmoke;
}