*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navlink{
    width: 100%;
    line-height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(35, 46, 53);
    font-size: 25px;
}
.navlink .active_class{
    color: white;
}

a {
    color: rgb(12, 127, 194);
    text-decoration: none;
}

.content{
    padding: 2rem;
    padding-top: 5px;
    font-size: 30px;
}

.search_div{
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.search_div input{
    margin: 30px 0;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

img{
    height: 500PX;
    width: 650PX;
}

h1{
    text-align: center;
    font-size: 50px;
}

h3{
    text-align: center;
    font-size: 40px;
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
